<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
  <div style="border: 1px solid #ccc; margin-bottom: 1em;">
    <p><strong>User:</strong> <%= message.user %></p>
    <p><strong>Message:</strong> <%= message.text %></p>
    <p><em><%= message.added.toLocaleString() %></em></p>
  </div>
<% }) %>

</body>
</html>